body{
    margin: 0px;
    padding: 0px;
    background: #F3F5FC;
}
.container{
    margin: auto;
    width: 1140px;
    height: 650px;
    padding: 20px;
}
.logo{
    float: left;
    width: 70%;
}
.input-text{
    float: left;
    width: 70%;
    height: 60%;
}
.text-area{
    float: left;
    margin: 10%;
    width: 80%;
    height: 60%;
    font-size: 20px;
    color: #0A3871;
    border: none;
    outline: none;
    background: #F3F5FC;
}
.buttons{
    float: left;
    width: 70%;
    height: auto;
}
.text-advert{
    float: left;
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 0px;
}
.img-exclamacion{
    width: 3%;
    margin-left: 10%;
}
.advert{    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: #495057;
    margin: none;
}
.btn-encriptar{
    color: white;
    background: #0A3871;
    border-radius: 30px;
    width: 35%;
    height: 65%;
    padding: 30px;
    margin-left: 10%;
    border: 1px solid #0A3871;
}
.btn-desencriptar{
    border: 1px solid #0A3871;
    border-radius: 30px;
    width: 35%;
    height: 65%;
    padding: 30px;
    margin-left: 63px;
    margin-right: 10%;
    color: #0A3871;
}
.output-text{
    top: 40px;
    float: right;
    width: 30%;
    height: 100%;
    background: #ffffff;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
.img-output{
    margin-left: 15%;
    margin-top: 30%;
    width: 65%;
    height: auto;
}
.message-not-found{
    margin-left: 6%;
    margin-right: 6%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    color: #212529;
    text-align: center;
    
}
.text-copy{
    float: left;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 89%;
    height: 70px;
    font-size: 16px;
    border: none;
    outline: none;
    text-align: center;
}

#btn-copy{
    border: 1px solid #0A3871;
    border-radius: 24px;
    width: 55%;
    height: 10%;
    padding: 12px;
    gap: 8px;
    margin-left: 63px;
    margin-right: 10%;
    color: #0A3871;
    display: none;
}